body {
    background: lightcyan;
}

#welcome-section {
    background-color: rgb(0, 0, 0);
    background-image: url("hg2018-3237");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    padding-top: 27vh;
    padding-bottom: 43vh;
    height: 10vh;
    text-align: center;
    color: white;
}

#title h1 { 
    font-family: 'Overpass Mono', monospace;
    font-size: 9vh;
}

#title p {
    font-family: 'Open Sans', sans serif;
    font-size: 2vh;
    margin-top: -8vh;
}

a {
    text-decoration: none;
    color: black;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(128, 128, 128, 0.5);
    height: 20vh;
    width: 100vw;
    padding-top: 2vh;
}


.contactTile {
    display:flex;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: column;
    align-items: center;
}

.contactTile p {
    margin-top: 2.5vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    color: white;
}

.contactTile i { 
    text-align: center;
    justify-self: center;
    font-size: 7vh;
    margin-top: -8.5vh;
}

.circle {
    width: 10.5vh;
    height: 10.5vh;
    background:white;
    border-radius: 50%
  }



