html {
  height: 100%;
  font-size: 16px;
}

@media screen and (max-width: 993px) {
  html {
    font-size: 14px;
  }
}
body {
  /* The image used */
  background-image: url("hg2018-3237.jpg");
  /* Full height */
  height: 100%;
  /* Fixed position of background, content scrolls but background position static */
  background-attachment: fixed;
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  font-family: "Overpass Mono", monospace;
  color: white;
  height: 100%;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

/* Welcome page for website, full page spread
- currently only desktop friendly */
#welcome-section {
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #324759);
}
#welcome-section #welcome-section-text {
  position: fixed;
  margin-top: 41.5vh;
  margin-left: 2rem;
  z-index: -2;
}
#welcome-section #welcome-section-text h1 {
  font-family: "Overpass Mono", monospace;
  font-size: 6rem;
  color: white;
  margin-bottom: -2rem;
  padding-bottom: 0;
}
#welcome-section #welcome-section-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

/* for contact information tiles on welcome page */
#contact {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.contactTile {
  --size-contact-tile: 5.5rem;
  height: var(--size-contact-tile);
  width: var(--size-contact-tile);
  margin: 15px;
}
.contactTile i {
  font-size: calc(var(--size-contact-tile)*0.7);
  color: #324759;
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contactTile p {
  font-family: "Open Sans", sans-serif;
  font-size: calc(var(--size-contact-tile)*0.2);
  color: white;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 180%);
}
.contactTile .circle {
  width: 100%;
  height: 100%;
  background: #F2C1BD;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.contactTile .circle:hover {
  background: white;
}

/* biography section right underneath welcome page */
#aboutMe {
  background: white;
  color: #324759;
}
#aboutMe img {
  border-radius: 50%;
  max-height: 20%;
  width: auto;
  padding-bottom: 3rem;
}
#aboutMe .aboutMeSubTitle {
  text-align: right;
}
#aboutMe #bio-p, #aboutMe #bio-list {
  padding-top: 1.5rem;
}
#aboutMe .row:first-child {
  padding-top: 3rem;
}
#aboutMe .row:last-child {
  padding-bottom: 3rem;
}

/* education section */
/* projects section */
#projects {
  background: #324759;
}
#projects .col {
  background-color: #0F1B26;
  text-align: center;
  border-radius: 10px;
}
#projects .col:hover {
  color: #324759;
  background-color: #F2C1BD;
}
#projects #gis, #projects #biology, #projects #for-fun {
  border-top: 1px solid white;
}

/*# sourceMappingURL=styles.css.map */
